.damage-text {
    color: white;
    font-size: 20px;
    -unity-text-align: middle-center;
    transition: all 0.5s ease-out;
}

.damage-container {
    position: absolute;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
}


.critical-damage-text {
    color: red !important;
    font-size: 100px !important;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    transition: all 0.5s ease-out;
}